    body {
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    #map {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .slider-container {
        top: 5%;
        left: 5%
    }

    .dropdown-container {
        top: 5%;
        left: 5%
    }

    #dropdown {
        background-color: rgba(17, 17, 17);
    }

    #yearSlider {
        -webkit-appearance: none;
        /* Override default CSS styles */
        appearance: none;
        background: #d3d3d3;
        /* Grey background */
        outline: none;
        /* Remove outline */
        opacity: 0.7;
        /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s;
        /* 0.2 seconds transition on hover */
        transition: opacity .2s;
        border-radius: 5px
    }

    #yearSlider:hover {
        opacity: 1;
        /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

    #yearSlider::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        width: 25px;
        /* Set a specific slider handle width */
        height: 15px;
        /* Slider handle height */
        background: rgb(0, 0, 0);
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
    }

    #yearSlider::-moz-range-thumb {
        width: 25px;
        /* Set a specific slider handle width */
        height: 15px;
        /* Slider handle height */
        background: rgb(0, 0, 0);
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
    }

    select {
        color: white;
    }

    select-items,
    select-selected {
        color: #ffffff;
    }

    /* select-items div {
        color: black;
    } */

    .ui-container {
        padding: 20px;
        margin: 20px;
        position: absolute;
        z-index: 1;
        background-color: rgba(17, 17, 17, 0);
        border-radius: 10px;
        transition: 500ms;
        opacity: 0.2;
    }

    .ui-container:hover {
        transition: 200ms;
        opacity: 0.8;
    }

    label {
        font-family: Arial, Helvetica, sans-serif;
        font-style: Helvetica;
        cursor: pointer;
        color: #f2f2f2;
        /* font-weight: bold; */
        font-size: 20px
    }