    body {
        margin: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #1b222c;
    }

    #map {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #legend {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .slider-container {
        top: 5%;
        left: 5%
    }

    .dropdown-container {
        top: 5%;
        left: 5%
    }

    #dropdown {
        background-color: rgba(17, 17, 17);
    }

    #yearSlider {
        -webkit-appearance: none;
        /* Override default CSS styles */
        appearance: none;
        background: #f3f3f3;
        /* Grey background */
        outline: none;
        /* Remove outline */
        opacity: 0.7;
        /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s;
        /* 0.2 seconds transition on hover */
        transition: opacity .2s;
        border-radius: 5px
    }

    #yearSlider:hover {
        opacity: 1;
        /* Fully shown on mouse-over */
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

    #yearSlider::-webkit-slider-thumb {
        -webkit-appearance: none;
        /* Override default look */
        appearance: none;
        width: 25px;
        /* Set a specific slider handle width */
        height: 15px;
        /* Slider handle height */
        background: rgb(0, 0, 0);
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
    }

    #yearSlider::-webkit-slider-thumb::hover {
        transition: 200ms;
        background: #333333;
    }

    #yearSlider::-moz-range-thumb {
        width: 25px;
        /* Set a specific slider handle width */
        height: 15px;
        /* Slider handle height */
        background: rgb(0, 0, 0);
        /* Green background */
        cursor: pointer;
        /* Cursor on hover */
    }

    select {
        color: #f3f3f3;
    }

    select-items,
    select-selected {
        color: #f3f3f3;
    }

    /* select-items div {
        color: black;
    } */

    .ui-container {
        padding: 20px;
        margin: 20px;
        position: absolute;
        z-index: 1;
        background-color: rgba(17, 17, 17, 0);
        border-radius: 10px;
        /* transition: 500ms; */
        opacity: 0.8;
    }

    /* .ui-container:hover {
        transition: 200ms;
        opacity: 0.8;
    } */

    label {
        font-family: Arial, Helvetica, sans-serif;
        font-style: Helvetica;
        cursor: pointer;
        color: #f3f3f3;
        /* font-weight: bold; */
        font-size: 20px
    }

    #loader {
        background: #1b222c;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid rgb(51, 51, 51);
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    #container {
        opacity: 0;
    }

    .legendSize {
        fill: #f3f3f3;
        outline-color: #333333;
    }

    .legendColour {
        fill: #f3f3f3;
    }

    .legendTitle {
        font-weight: bold;
        font: bold 15px Helvetica;
    }